*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../../assets/img/fond-nuages.png);
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
}

main{
    width: 90vw;
    margin: auto;
}

h1{
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 2%;
}

.affiches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textes{
    width: 50%;
    background-color: white;
    padding: 20px;
    border: solid 1px black;
}

.imgaffiche2{
    width: 25vw;
    border: solid 1px black;
}

.information{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 3%;
    margin-bottom: 2%;
}

.information div{
    background-color: white;
    padding: 20px;
    border: solid 1px black;
}

.icons{
    width: 9%;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

.textes a{
    border: solid 1px black;
    padding: 10px;
} 

@media screen and (min-width:451px) and (max-width:994px) {

    .imgaffiche2{
        width: 30vw;
        margin-left: 3%;
        border: solid 1px black;
    }

    .textes{
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
    }

}

@media screen and (max-width:450px) {

    .affiches{
        display: block;
    }
    
    .textes{
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
    }

    .imgaffiche{
        display: flex;
        justify-content: center;
    }
    
    .imgaffiche2{
        width: 60vw;
        border: solid 1px black;
    }
    
    .information{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    
    .icons{
        width: 9%;
    }
    
}