*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../img/fond-nuages.png);
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
}
main{
    width: 90vw;
    margin: auto;
}

h1{
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 2%;
}
.montage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textes{
    width: 50%;
    background-color: white;
    padding: 20px;
    border: solid 1px black;
}

.information{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 3%;
    margin-bottom: 2%;
}

.information div{
    background-color: white;
    padding: 20px;
    border: solid 1px black;
}

.icons{
    width: 9%;
}

@media screen and (min-width:451px) and (max-width:994px) {
    .montage{
        display: block;
    }
    
    .textes{
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
    }

    .video{
        margin: auto;
        position: relative;
        width: 90%;
        padding-bottom: 56.25%;
    }

    .video iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width:450px) {

    .montage{
        display: block;
    }
    
    .textes{
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
    }

    .video{
        margin: auto;
        position: relative;
        width: 90%;
        padding-bottom: 56.25%;
    }

    .video iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .information{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    
    .icons{
        width: 9%;
    }
    
}